---
import { Image } from "astro:assets";
import '../styles/global.css';
const pageTitle="About Me";
const paragraph_text="Good software is built with a single person while great software is built with teams. I'm happy with good software..."
const second_paragraph="A software engineer who is currently working in a sweatshop and is trying to reclaim his lost love for development"
const skills=["Web Dev?","Enterprise Java Dev","SelfHosting"]
import Header from '../components/Header.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
        <style>
            .skill{
                color:green;
                font-weight:bold;
            }
        </style>
    </head>
    <body>
        <Header/>
        <h1>{pageTitle}</h1>
        <p>{paragraph_text}<p>
        <p>{second_paragraph}</p>
        <p>My skills include:</p>
        <ul>{skills.map((item)=><li class="skill">{item}</li>)}</ul> 
    </body>
</html>
